.category {
  background: lightgray;
}

h2 {
  text-align: center;
}

input[type='file'] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: initial;
  border: initial;
  border-color: initial;
  overflow: hidden !important;
  border-radius: initial;
  text-indent: -999em;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
